.b-header {
  display: flex;
  justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;
}
.b-socialIcons__link:nth-child(n + 2) {
  margin-left: 7px;
}
.b-socialIcons__link_decor {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: $colorIconBack;
  border-radius: 50%;
}
.b-socialIcons__icon {
  box-sizing: border-box;
  padding: 8px;
}
.b-socialIcons_indent {
  margin: 9px 0 8px;
}
.b-loginNav {
  margin: 19px 0 17px;
}
