.b-yourTitleGrid {
  &_layout {
    display: grid;
    grid-template-columns: repeat(3, minmax(274px, 1fr));
    grid-template-rows: 16px repeat(2, minmax(82px, 1fr));
    grid-row-gap: 41px;
    grid-column-gap: 36px;
    margin-top: 54px;
    div:first-child {
      grid-column: 1/-1;
      position: relative;
    }

    @media (min-width: 650px) and (max-width: 899px) {
      grid-template-columns: repeat(2, minmax(274px, 1fr));
      grid-template-rows: 16px repeat(3, minmax(82px, 1fr));
    }
    @media (max-width: 649px) {
      grid-template-columns: minmax(270px, 1fr);
      grid-template-rows: 16px repeat(6, minmax(82px, 1fr));
      grid-row-gap: 26px;
      grid-column-gap: 26px;
    }
    @media (max-width: 575px) {
      margin-top: 100px;
    }
  }
  &__delimiter {
    @extend %decorDelimiter;
  }
  &__caption {
    @extend %textUppercase;
    @extend %captionYourTitleGrid;
    left: #{calc(50% - 80px)};
  }
  &__gridTrack_decor {
    img {
      display: block;
      width: 64px;
      height: 64px;
      @extend %imgObject;
      float: left;
      transition-duration: 0.5s;
      filter: brightness(60%);
    }
    img:hover {
      filter: brightness(90%);
    }
    h5 {
      font-size: 16px;
      line-height: 22px;
      color: $colorDecor;
      @extend %floatLayout;
      margin-bottom: 18px;
    }
    p {
      @extend %yourTitleGridParagraph;
      @extend %floatLayout;
    }
  }
  &__gridTrack_decor::after {
    content: "";
    display: block;
    clear: both;
  }
}
