body {
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, sans-serif;
}

.wrapper {
  background-color: $colorBack;
}
.imaginativeContainer {
  max-width: 960px;
  margin: 0 auto;
}
.wrapper_decor {
  border-top: 1px solid $colorDecor;
  min-height: 275px;
}

p {
  margin: 0;
}

input,
button {
  outline: none;
  border: none;
}
